modules = ["nodejs-20"]
run = "cd frontend && npm install && npm run dev -- --host"
entrypoint = "frontend/src/main.jsx"

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000
