<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Virtual Controller</title>
		<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
		<script
			type="module"
			src="{{ url_for('static', filename='script.js') }}"
		></script>
		<script
			type="module"
			src="{{ url_for('static', filename='joystick.js') }}"
		></script>
		<script
			type="module"
			src="{{ url_for('static', filename='dpad.js') }}"
		></script>
		<script
			type="module"
			src="{{ url_for('static', filename='script.js') }}"
		></script>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
	</head>
	<body>
		<div
			class="controller"
			id="controller"
		>
		</div>
	</body>
</html>
